@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
/*Start of Footer Code*/

/*End of Footer Code*/

/*Start of Splash Screen Code*/
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
    z-index: 100000000000000000000;
}
.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s; 
}
/*End of Splash Screen Code*/

/*Start of Navigation Bar Code*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header.sticky{
    padding: 5px 100px;
    background:rgba(243,252,252,.1);
    backdrop-filter: blur(10px);
}

header .navbar-logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0x;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
header ul li{
    position: relative;
    list-style: none;
    transition: 0.6;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
.navbar{
    position: relative;
    width: 100%;
    height: 7vh;
}
/*End of Navigation Bar Code*/

/*Main image code*/
.backgroundimages{
    
}

/*Start of Changing Background Colour Code*/
body{
    margin: 0;
    padding-bottom: 100px;
    animation: bgcolor infinite 3s;
}
/*h1{
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 5em;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
@keyframes bgcolor{
    0%
    {
        background: #f3fcfc;
    }
    25%
    {
        background: #f3fcfc;
    }
    50%
    {
        background: #f3fcfc;
    }
    75%
    {
        background: #f3fcfc;
    }
    100%
    {
        background: #f3fcfc;
    }

}*/
/*End of Changing Background Colour Code*/

/*Beginning 3 pics code*/
.row {
    margin: 0 auto;
    margin-bottom: 3%;
    width: 1300px;
    justify-content: center;
}

.col-sm-4 {
    padding: 0;
}

.beg3-container {
    position: relative;
    height: 300px; /* Set your desired fixed height here */
    overflow: hidden;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: #c0b283;
}

.beg3{
    opacity: 5%;
}

.beg3-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.beg3text{
    position: absolute;
    align-items: center; /* Center vertically */
    text-align: center; /* Center horizontally */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 200px;
    z-index: 2;
    color: #192231;
}

/*end of beginning 3 code*/


/*Random stuff*/
.intro-img-and-text{
    width: 35%;
    margin-left: 7%;
}
.intro-pic{
    width: 35%;
    margin-top: 2%;
    position: absolute;
    overflow: hidden;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}
.intro-pic-sub{
    position: absolute;
    width: 35%;
    margin-top: 30%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.intro-description{
    font-size: 22px;
    text-align: justify;
    width: 575px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: gray;
    top: 200px;
    bottom: 130px;
    left: 40%;
    margin-left: -4px;
  }
  
  /* Container around content */
  .container {
    padding: 0.1px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 100px;
    background-color: white;
    border: 2px solid gray;
    top: 17px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 15%;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    position: relative;
    color: black;
    font-family: "DM Sans", sans-serif;
    /*padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;*/
  }
  .job-location{
    margin-top: 2px;
    margin-bottom: 5px;
    color: #05445E;
    font-family: Montserrat;
  }
  .job-title{
    margin-bottom: 5px;
    color: #05445E;
    font-size: 20px;
    font-weight: bold;
    font-family: Montserrat;
  }
  .job-text{
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
  }
  .date{
    justify-content: right;
    align-items: right;
    position: relative;
    color: gray;
    /*font-family: "DM Sans", sans-serif;*/
    font-family: Montserrat;
    font-size: 15px;
  }
  .datec{
    position: absolute;
    margin-left: 2%;
    padding-top: 1.4%;
    background-color: inherit;
    width: 35%;
    
  }
  .title{
    margin: 0;
    padding: 30px;
    font-family: Montserrat;
    font-size: 2em;
    color: #05445E;
    position: relative;
    text-align: center;
    font-weight: bold;
}

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }

  }

  

/*Skills*/

.grid-container-skills {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-gap: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}
.grid-item > div {
      background: #edf2f8;
      display: grid;
      place-items: center;
      border-radius: 50%;
}
.grid-item > div::before {
        content: "";
        display: block;
        padding-bottom: 100%;
        grid-area: 1 / 1 / 2 / 2;
        
}
.grid-item > div > img {
        width: 100%;
        grid-area: 1 / 1 / 2 / 2;
}
.skills-text{
    text-align: center;
    color: gray;
    margin-top: 7%;
}

/*Contact items*/
.contact-info{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.contact-item{
    margin: 0 auto;
}
.contact-item-text{
    float: right;
    
}

/*Card*/

.tags-row{
    display: flex;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    place-items: center;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
.tags-item{
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0%;
    font-size: x-small;
    color: white;
}
.no-bottom{
    margin-bottom: auto;
}
.personal{
    background-color: blueviolet;
}
.work{
    background-color:blueviolet;
}
.school{
    background-color: blueviolet;
}
.webdev{
    background-color: purple;
}
.oop{
    background-color: blue;
}
.arduino{
    background-color: cornflowerblue;
}
.unity{
    background-color: green;
}
.cad{
    background-color: red;
}
.group{
    background-color: gray;
}
.design{
    background-color: lightsalmon;
}

.card{
    width: 300px;
}


.col-sm-1{
    margin-bottom: 0%;
    margin-left: 0;
    padding-left: 0;
    height: auto;
}

.col-sm-3{
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
.card-title{
    text-align: center;
    margin: 15px;
    color: #05445E;
}
.card-text{
    text-align: center;
    color: gray;
}
.btn{
    margin-left: 25%;
    color: white;
    background-color: #189AB4;
    transition: all 0.3s ease 0s;
}
.btn:hover{
    background: #05445E;
}

/*Other*/
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:#189AB4;
}

.main{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    margin-top: 7%;
}
  
.left-txt{
    position:relative;
    height: fit-content; /*39.0625vw; /*500px*/
    margin-top: 0; 
    margin-bottom: 0;
    margin-right: 5%;
    float: left;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align:justify;  
    text-justify:inter-word;
}

.right-txt{
    position:relative;
    height: fit-content; /*39.0625vw; /*500px*/
    margin-top: 0; 
    margin-bottom: 0;
    margin-left: 5%;
    float: left;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-align:justify;  
    text-justify:inter-word;
}

.right-img-cont{
    position:relative;
    width: 30%;
}
 
.right-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-img-cont{
    position: relative;
    width: 30%;
}

.left-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big-txt{
    font-weight: bold;
    text-align: left;
    justify-content: left;
    font-size: 120px;
    font-family: Montserrat;
    color:#05445E;
}
.intro-txt-container{
    margin-left: 50%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    position: relative;
}

.flexbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.job{
    color: #ffffff;
}
.jobheader{
    font-family: Montserrat;
    font-size: 25px;
}
.jobdate{
    font-family: 'Open Sans', sans-serif;
    margin:0;
}
.h4{
    margin: 0;
}
.jobbody{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
  
@keyframes flyintext{
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}
  